@model Launchpad7New.Areas.Admin.Models.ContactUser

@{
    ViewBag.Title = "Delete";
    Layout = "~/Areas/Admin/Views/Shared/_Layout1.cshtml";
}



<div class="container">
    <div class="col-12 mb-5">
        <h2>Delete Contact User</h2>

        <p>
            @Html.ActionLink("Back to Contact List", "Index")
        </p>
    </div>
    <div class="col-12">
        <h3>Are you sure to want to delete this user?</h3>

    </div>
    <div class="row mt-5">
        <div class="col-12">
            <label class="col-md-3 col-12">Name: </label>
            <p class="col-md-9 col-12"> @Html.DisplayFor(model => model.Name)</p>
            <label class="col-md-3 col-12">Email: </label>
            <p class="col-md-9 col-12"> @Html.DisplayFor(model => model.Email)</p>
            <label class="col-md-3 col-12">Phone: </label>
            <p class="col-md-9 col-12">  @Html.DisplayFor(model => model.Phone)</p>
         
        </div>
    </div>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to Contact List", "Index")
        </div>
    }

</div>




